# NextAuth
AUTH_SECRET=randomly_generated_secret_key_here

# Google OAuth — fill in your credentials from https://console.cloud.google.com
GOOGLE_CLIENT_ID=google_client_id_here
GOOGLE_CLIENT_SECRET=google_client_secret_here
# App URL
NEXTAUTH_URL="http://localhost:3000"
